@font-face {
  font-family: 'highlights';
    src:url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/highlights-v4/highlights.eot?wu4wnz');
    src:url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/highlights-v4/highlights.eot?wu4wnz#iefix') format('embedded-opentype'),
        url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/highlights-v4/highlights.ttf?wu4wnz') format('truetype'),
        url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/highlights-v4/highlights.woff?wu4wnz') format('woff'),
        url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/highlights-v4/highlights.svg?wu4wnz#highlights') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="highlights-"], [class*=" highlights-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'highlights' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.highlights-freelancer:before {
  content: "\e937";
}

.highlights-bridal:before {
  content: "\e936";
}
.highlights-heart:before {
  content: "\2665";
}
.highlights-history:before {
  content: "\f07e";
}
.highlights-wi-fi:before {
  content: "\f034";
}
.highlights-steps:before {
  content: "\f0c7";
}
.highlights-office:before {
  content: "\e90e";
}
.highlights-connection:before {
  content: "\e930";
}
.highlights-books:before {
  content: "\e931";
}
.highlights-phone:before {
  content: "\e932";
}
.highlights-clock:before {
  content: "\e90f";
}
.highlights-calendar:before {
  content: "\e910";
}
.highlights-tv2:before {
  content: "\e90d";
}
.highlights-key:before {
  content: "\e933";
}
.highlights-spoon-knife:before {
  content: "\e911";
}
.highlights-cloud:before {
  content: "\e912";
}
.highlights-sun:before {
  content: "\e913";
}
.highlights-hair-services:before {
  content: "\e934";
}
.highlights-nail-services:before {
  content: "\e935";
}
.highlights-hair-style .path1:before {
  content: "\e915";
  color: rgb(0, 0, 0);
}
.highlights-hair-style .path2:before {
  content: "\e916";
  margin-left: -0.8818359375em;
  color: rgb(0, 0, 0);
}
.highlights-hair-style .path3:before {
  content: "\e917";
  margin-left: -0.8818359375em;
  color: rgb(0, 0, 0);
}
.highlights-hair-style .path4:before {
  content: "\e918";
  margin-left: -0.8818359375em;
  color: rgb(0, 0, 0);
}
.highlights-hair-style .path5:before {
  content: "\e919";
  margin-left: -0.8818359375em;
  color: rgb(0, 0, 0);
}
.highlights-hair-style .path6:before {
  content: "\e91a";
  margin-left: -0.8818359375em;
  color: rgb(0, 0, 0);
}
.highlights-hair-style .path7:before {
  content: "\e91b";
  margin-left: -0.8818359375em;
  color: rgb(0, 0, 0);
}
.highlights-hair-style .path8:before {
  content: "\e91c";
  margin-left: -0.8818359375em;
  color: rgb(0, 0, 0);
}
.highlights-hair-style .path9:before {
  content: "\e91d";
  margin-left: -0.8818359375em;
  color: rgb(0, 0, 0);
}
.highlights-hair-style .path10:before {
  content: "\e91e";
  margin-left: -0.8818359375em;
  color: rgb(0, 0, 0);
}
.highlights-hair-style .path11:before {
  content: "\e91f";
  margin-left: -0.8818359375em;
  color: rgb(0, 0, 0);
}
.highlights-hair-style .path12:before {
  content: "\e920";
  margin-left: -0.8818359375em;
  color: rgb(0, 0, 0);
}
.highlights-hair-style .path13:before {
  content: "\e921";
  margin-left: -0.8818359375em;
  color: rgb(0, 0, 0);
}
.highlights-hair-style .path14:before {
  content: "\e922";
  margin-left: -0.8818359375em;
  color: rgb(0, 0, 0);
}
.highlights-hair-style .path15:before {
  content: "\e923";
  margin-left: -0.8818359375em;
  color: rgb(0, 0, 0);
}
.highlights-hair-style .path16:before {
  content: "\e924";
  margin-left: -0.8818359375em;
  color: rgb(0, 0, 0);
}
.highlights-hair-style .path17:before {
  content: "\e925";
  margin-left: -0.8818359375em;
  color: rgb(1, 1, 1);
}
.highlights-hair-style .path18:before {
  content: "\e926";
  margin-left: -0.8818359375em;
  color: rgb(0, 0, 0);
}
.highlights-hair-style .path19:before {
  content: "\e927";
  margin-left: -0.8818359375em;
  color: rgb(255, 255, 255);
}
.highlights-hair-style .path20:before {
  content: "\e928";
  margin-left: -0.8818359375em;
  color: rgb(1, 1, 1);
}
.highlights-hair-style .path21:before {
  content: "\e929";
  margin-left: -0.8818359375em;
  color: rgb(1, 1, 1);
}
.highlights-hair-style .path22:before {
  content: "\e92a";
  margin-left: -0.8818359375em;
  color: rgb(0, 0, 0);
}
.highlights-hair-style .path23:before {
  content: "\e92b";
  margin-left: -0.8818359375em;
  color: rgb(1, 1, 1);
}
.highlights-hair-style .path24:before {
  content: "\e92c";
  margin-left: -0.8818359375em;
  color: rgb(1, 1, 1);
}
.highlights-hair-style .path25:before {
  content: "\e92d";
  margin-left: -0.8818359375em;
  color: rgb(1, 1, 1);
}
.highlights-hair-style .path26:before {
  content: "\e92e";
  margin-left: -0.8818359375em;
  color: rgb(1, 1, 1);
}
.highlights-nail-polish-1:before {
  content: "\e914";
}
.highlights-nail-polish-2:before {
  content: "\e92f";
}
.highlights-ac:before {
  content: "\e900";
}
.highlights-credit-cards:before {
  content: "\e901";
}
.highlights-deal:before {
  content: "\e902";
}
.highlights-economical:before {
  content: "\e903";
}
.highlights-home-services:before {
  content: "\e904";
}
.highlights-kids-services:before {
  content: "\e905";
}
.highlights-luxury:before {
  content: "\e906";
}
.highlights-mens:before {
  content: "\e907";
}
.highlights-premium:before {
  content: "\e908";
}
.highlights-tv:before {
  content: "\e909";
}
.highlights-unisex:before {
  content: "\e90a";
}
.highlights-walk-in:before {
  content: "\e90b";
}
.highlights-womens:before {
  content: "\e90c";
}

