<div class=" pt5 pl0 pr0 mb10 pb5">
  <span class=""><b>SORT BY</b></span>
  <div class="mt5 bb bt pt10 pb10">
    <a ref="sort-listings-box" class="no-fake-load no-border-radius mt10 mb10 toggl" href="javascript:void(0)"> 
      <{ venuesCtrl.filters.currentSort.value }>&nbsp;&nbsp; 
      <span class="pull-right fs75 mt2 fa fa-chevron-down"></span>
    </a>
  </div>
  <div style="" class="bt pt5" id="sort-listings-box">
    <ul class="fs90 mb0 list-unstyled">
      <li ng-repeat="sortr in venuesCtrl.filters.sortables" class="bb pb5 pt5">
        <a href="<{ venuesCtrl.mzk_city_slug({ subzone:venuesCtrl.selects.zone, service:venuesCtrl.selects.service, category:venuesCtrl.selects.category, sort:sortr}) }>"
          ng-click="venuesCtrl.updateSort(sortr)"

          >
          <span class="pull-left fs110 pr5">
            <i ng-class="{hidden:!venuesCtrl.isSortSelected(sortr)}" class="fa fa-dot-circle-o selected mr5"></i>
            <i ng-class="{hidden:venuesCtrl.isSortSelected(sortr)}"  class="fa fa-circle-o mr5"></i>
          </span>
          <span class=" fw900 "> <{ sortr.value }></span>
        </a>
      </li>
    </ul>
  </div>
</div>

