	/*
  	Flaticon icon font: Flaticon
  	Creation date: 27/04/2016 13:36
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("flaticon.eot");
  src: url("flaticon.eot?#iefix") format("embedded-opentype"),
       url("flaticon.woff") format("woff"),
       url("flaticon.ttf") format("truetype"),
       url("flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 20px;
	font-style: normal;
	margin-left: 20px;
}

.flaticon-33:before { content: "\f100"; }
.flaticon-acupuncture:before { content: "\f101"; }
.flaticon-acupuncture1:before { content: "\f102"; }
.flaticon-apple41:before { content: "\f103"; }
.flaticon-apple53:before { content: "\f104"; }
.flaticon-beauty1:before { content: "\f105"; }
.flaticon-brush18:before { content: "\f106"; }
.flaticon-calentar:before { content: "\f107"; }
.flaticon-chronometer19:before { content: "\f108"; }
.flaticon-claw1:before { content: "\f109"; }
.flaticon-credit26:before { content: "\f10a"; }
.flaticon-credit41:before { content: "\f10b"; }
.flaticon-credit69:before { content: "\f10c"; }
.flaticon-credit70:before { content: "\f10d"; }
.flaticon-credit72:before { content: "\f10e"; }
.flaticon-credit96:before { content: "\f10f"; }
.flaticon-debit:before { content: "\f110"; }
.flaticon-dental6:before { content: "\f111"; }
.flaticon-dentist:before { content: "\f112"; }
.flaticon-dentist13:before { content: "\f113"; }
.flaticon-diamond-icon:before { content: "\f114"; }
.flaticon-diamond32:before { content: "\f115"; }
.flaticon-diamond4:before { content: "\f116"; }
.flaticon-diamond44:before { content: "\f117"; }
.flaticon-enter3:before { content: "\f118"; }
.flaticon-eye110:before { content: "\f119"; }
.flaticon-family21:before { content: "\f11a"; }
.flaticon-fast-food:before { content: "\f11b"; }
.flaticon-fast-food10:before { content: "\f11c"; }
.flaticon-flower115:before { content: "\f11d"; }
.flaticon-flower121:before { content: "\f11e"; }
.flaticon-flower199:before { content: "\f11f"; }
.flaticon-flowers38:before { content: "\f120"; }
.flaticon-fruit24:before { content: "\f121"; }
.flaticon-fruits4:before { content: "\f122"; }
.flaticon-hair-dryer:before { content: "\f123"; }
.flaticon-hair-salon36:before { content: "\f124"; }
.flaticon-hair-salon4:before { content: "\f125"; }
.flaticon-hair11:before { content: "\f126"; }
.flaticon-hamburger16:before { content: "\f127"; }
.flaticon-healthy1:before { content: "\f128"; }
.flaticon-healthy7:before { content: "\f129"; }
.flaticon-heart256:before { content: "\f12a"; }
.flaticon-heart36:before { content: "\f12b"; }
.flaticon-house204:before { content: "\f12c"; }
.flaticon-jewel4:before { content: "\f12d"; }
.flaticon-jewel6:before { content: "\f12e"; }
.flaticon-jewelry5:before { content: "\f12f"; }
.flaticon-kids1:before { content: "\f130"; }
.flaticon-king17:before { content: "\f131"; }
.flaticon-lifeline8:before { content: "\f132"; }
.flaticon-lily:before { content: "\f133"; }
.flaticon-massage2:before { content: "\f134"; }
.flaticon-mastercard5:before { content: "\f135"; }
.flaticon-medical:before { content: "\f136"; }
.flaticon-medical-1:before { content: "\f137"; }
.flaticon-money144:before { content: "\f138"; }
.flaticon-money179:before { content: "\f139"; }
.flaticon-mortar2:before { content: "\f13a"; }
.flaticon-mortar4:before { content: "\f13b"; }
.flaticon-mouth3:before { content: "\f13c"; }
.flaticon-parking12:before { content: "\f13d"; }
.flaticon-parking19:before { content: "\f13e"; }
.flaticon-placeholder:before { content: "\f13f"; }
.flaticon-plant59:before { content: "\f140"; }
.flaticon-plump:before { content: "\f141"; }
.flaticon-restaurant:before { content: "\f142"; }
.flaticon-ring27:before { content: "\f143"; }
.flaticon-rings4:before { content: "\f144"; }
.flaticon-sale21:before { content: "\f145"; }
.flaticon-screen54:before { content: "\f146"; }
.flaticon-shape:before { content: "\f147"; }
.flaticon-spa10:before { content: "\f148"; }
.flaticon-spa21:before { content: "\f149"; }
.flaticon-stick5:before { content: "\f14a"; }
.flaticon-strength:before { content: "\f14b"; }
.flaticon-tags9:before { content: "\f14c"; }
.flaticon-teacher26:before { content: "\f14d"; }
.flaticon-teeth2:before { content: "\f14e"; }
.flaticon-television3:before { content: "\f14f"; }
.flaticon-television35:before { content: "\f150"; }
.flaticon-thin37:before { content: "\f151"; }
.flaticon-tooth:before { content: "\f152"; }
.flaticon-tooth12:before { content: "\f153"; }
.flaticon-tooth19:before { content: "\f154"; }
.flaticon-transport81:before { content: "\f155"; }
.flaticon-users68:before { content: "\f156"; }
.flaticon-weightlifter2:before { content: "\f157"; }
.flaticon-wifi74:before { content: "\f158"; }
.flaticon-woman139:before { content: "\f159"; }
.flaticon-women:before { content: "\f15a"; }